# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/[Ww][Ii][Nn]32/
**/[Aa][Rr][Mm]/
**/[Aa][Rr][Mm]64/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/
**/[Ll]ogs/
**/obj
**/obj/

# Visual Studio 2015/2017 cache/options directory
**/.vs/

# MSTest test Results
**/[Tt]est[Rr]esult*/
**/[Bb]uild[Ll]og.*

# Build Results of an ATL Project
**/[Dd]ebugPS/
**/[Rr]eleasePS/

# Benchmark Results
**/BenchmarkDotNet.Artifacts/

# .NET
**/artifacts/

# Tye
**/.tye/

# Installshield output folder
**/[Ee]xpress/

# DocProject is a documentation generator add-in
**/DocProject/buildhelp/
**/DocProject/Help/Html2
**/DocProject/Help/html

# Click-Once directory
**/publish/

# Microsoft Azure Build Output
**/csx/

# Microsoft Azure Emulator
**/ecf/
**/rcf/

# Windows Store app package directories and files
**/AppPackages/
**/BundleArtifacts/

# Node.js Tools for Visual Studio
**/node_modules/

# Visual Studio cache files
**/*.cache/

# Others
**/ClientBin/

# RIA/Silverlight projects
**/Generated_Code/

# Migration backup
**/MigrationBackup/

# Paket
**/.paket/
**/paket-files/

# FAKE - F# Make
**/.fake/

# CodeRush personal settings
**/.cr/

# MightyMoose
**/AutoTest.Net/

# Web workbench (sass)
**/.sass-cache/

# Chutzpah
**/_Chutzpah*/

# ReSharper
**/_ReSharper*/

# TeamCity
**/_TeamCity*/

# NCrunch
**/_NCrunch_*

# Visual Studio History
**/.localhistory/
**/.vshistory/

# Fakes
**/FakesAssemblies/

# MFractors
**/.mfractor/

# Ionide
**/.ionide/

# VS Code folders
**/.vscode/
**/.history/

# JetBrains Rider
**/.idea/

# Visual Studio LightSwitch
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts

# _Pvt_Extensions (LightSwitch)
**/_Pvt_Extensions
